.loader {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: relative;
}

.loader {
  border-top-color: #7c3aed;
}

.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border-left: 4px solid #06b6d4;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@media (prefers-color-scheme: dark) {
  .loader {
    border-top-color: #a78bfa;
  }
  
  .loader::after {
    border-left-color: #22d3ee;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 